<% include header %>

    <h1><%-title %></h1>
    <p>Welcome to
        <%-title %>
    </p>

    <div id="query" style="margin: 10px">
        <h1>d3forcegraph</h1>
        <form class="form-inline">
            <label>SPARQL endpoint:</label>
            <div class="input-append">
                <button class="btn" type="button" onclick="exec()">Query</button>
            </div>

        </form>

        <div id="result"></div>
        <div id="result2"></div>

    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3sparql.js"></script>


    <script>
        //var data;
        var str = "";

        function exec() {
            var endpoint = "http://localhost:3030/ds/sparql"
            var sparql = 'prefix schema: <http://schema.org/> prefix owl:   <http://www.w3.org/2002/07/owl#> prefix xsd:   <http://www.w3.org/2001/XMLSchema#>             prefix voaf:  <http://purl.org/vocommons/voaf#>  prefix skos:  <http://www.w3.org/2004/02/skos/core#>            prefix mv:    <http://eccenca.com/mobivoc/> prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#>             prefix vcard: <http://www.w3.org/2001/vcard-rdf/3.0#> prefix gr:    <http://purl.org/goodrelations/v1#>             prefix geo:   <http://www.w3.org/2003/01/geo/wgs84_pos#> prefix s:     <http://schema.org/>             prefix dct:   <http://purl.org/dc/terms/> prefix rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#>             prefix vCard: <http://www.w3.org/2001/vcard-rdf/3.0#>             prefix foaf:  <http://xmlns.com/foaf/spec/#>             SELECT    ?p ?o WHERE {  <http://eccenca.com/mobivoc/Longevity> ?p ?o }'

            //var sparql = d3.select("#sparql").property("value")

            d3sparql.query(endpoint, sparql, render)

        }


        function render(json) {
            var data = json.results.bindings;
            for (var i = 0; i < data.length; i++) {
                var key1 = data[i]['p'].value;
                var key2 = data[i]['o'].value;
                //console.log(key1, key2);

                str += '<p> key1 is' + key1 + '  key2 is ' + key2 + '</p>';
            }
            $("#result2").html(str);

            //console.log(data);

            var config = {
                "charge": -500,
                "distance": 50,
                "width": 1000,
                "height": 750,
                "selector": "#result"
            }
            d3sparql.forcegraph(json, config);
            // debugger;

        }

        ////////////////////////////////////////////////////////
        // get data from d3sparql
        ////////////////////////////////////////////////////////

    </script>





    <% include footer %>
