<% include header %>

    <h1><%-title %></h1>
    <p>Welcome to
        <%-title %>
    </p>

    <head>

        <link href="/stylesheets/mTab-style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div class="container" style="margin:30px auto; max-width:728px;">

            <div class="tabbing">
                <ul class="tabNav">
                    <li><a href="#tab1">Documentation</a></li>
                    <li><a href="#tab2">Turtle source</a></li>
                    <li><a href="#tab3">Concept graph</a></li>
                </ul>
                <div class="tabContainer">
                    <div class="tabContent" id="tab1">
                        <h3>Tab Content 1</h3>
                        <p>Lorem ipsum dolor sit amet, prompta molestie ad eam, ea commodo voluptaria referrentur pri, dicant consul est et. Corpora detraxit inciderint eam no, nonumy denique his id. Utroque percipit accusata usu eu, eu choro offendit consetetur nec. Cum at purto timeam cotidieque.</p>
                        <p>At sit modus posse porro, duis doming interesset id pro. Vis vero ignota cetero ex, mentitum vituperatoribus quo id, eam eu modo sententiae. Cu iudico rationibus eum, ne duo elit nostrum constituam. Mea ea atqui minim. Eros primis persius eu sed. Usu cu aperiri utroque. An per voluptua phaedrum percipitur, ne ius scribentur dissentiunt. Lobortis principes est te, inermis placerat hendrerit mea ne, duo dicat nonumy sententiae an. An mel eius noster, dolore vituperata efficiendi pro at. Electram incorrupte mea at, percipit torquatos instructior sed eu, unum dolores ne vel. Id has tacimates intellegam, putent recusabo corrumpit nam ea.</p>
                    </div>
                    <div class="tabContent" id="tab2">
                        <h3>Tab Content 2</h3>
                        <p>At sit modus posse porro, duis doming interesset id pro. Vis vero ignota cetero ex, mentitum vituperatoribus quo id, eam eu modo sententiae. Cu iudico rationibus eum, ne duo elit nostrum constituam. Mea ea atqui minim. Eros primis persius eu sed. Usu cu aperiri utroque. An per voluptua phaedrum percipitur, ne ius scribentur dissentiunt. Lobortis principes est te, inermis placerat hendrerit mea ne, duo dicat nonumy sententiae an. An mel eius noster, dolore vituperata efficiendi pro at.</p>
                        <p>Lorem ipsum dolor sit amet, prompta molestie ad eam, ea commodo voluptaria referrentur pri, dicant consul est et. Corpora detraxit inciderint eam no, nonumy denique his id. Utroque percipit accusata usu eu, eu choro offendit consetetur nec. Cum at purto timeam cotidieque.</p>
                    </div>
                    <div class="tabContent" id="tab3">
                        <h3>Tab Content 3</h3>
                        <p>Lorem ipsum dolor sit amet, prompta molestie ad eam, ea commodo voluptaria referrentur pri, dicant consul est et. Corpora detraxit inciderint eam no, nonumy denique his id. Utroque percipit accusata usu eu, eu choro offendit consetetur nec. Cum at purto timeam cotidieque.</p>
                        <p>Ea oblique ceteros vix, ex quo paulo labore maiorum, falli detraxit ad pri. Ex sea populo tacimates definitionem, et mel sale erant, has ad probatus adipiscing. Mea cibo sententiae cotidieque ea. In viris quodsi lucilius vim, purto rebum graeco sea ad. In cum reque suscipit, moderatius philosophia sed ut. Denique platonem scribentur sed no, est natum electram abhorreant ei. Vis et possim quaerendum, sed primis nominavi ad. Nec munere lucilius ea, vel in latine erroribus, ius te porro regione. Te sed tollit tamquam invenire. Ad quo nihil virtute ancillae, pri ad idque singulis, iuvaret molestie dissentias ut cum.</p>
                    </div>
                    <div class="tabContent" id="tab4">
                        <h3>Tab Content 4</h3>
                        <p>Ea oblique ceteros vix, ex quo paulo labore maiorum, falli detraxit ad pri. Ex sea populo tacimates definitionem, et mel sale erant, has ad probatus adipiscing. Mea cibo sententiae cotidieque ea. In viris quodsi lucilius vim, purto rebum graeco sea ad.</p>
                        <p> In cum reque suscipit, moderatius philosophia sed ut. Denique platonem scribentur sed no, est natum electram abhorreant ei. Vis et possim quaerendum, sed primis nominavi ad. Nec munere lucilius ea, vel in latine erroribus, ius te porro regione. Te sed tollit tamquam invenire. Ad quo nihil virtute ancillae, pri ad idque singulis, iuvaret molestie dissentias ut cum.</p>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function(e) {
                    $('.tabbing').mTab({
                        navigation: ".tabNav",
                        container: ".tabContainer",
                        activeTab: 1,
                        activeClass: "active",
                        scrollOffset: true,
                        accordScreen: 768,
                        toggleClose: true,
                        animation: false,
                        openWithUrl: true,
                        callbackonclick: function() {},
                        callback: function() {}
                    });

                });

            </script>


            <!--div id="query" style="margin: 10px">
        <h1>d3forcegraph</h1>
        <form class="form-inline">
            <label>SPARQL endpoint:</label>
            <div class="input-append">
                <button class="btn" type="button" onclick="exec()">Query</button>
            </div>

        </form>

        <div id="result"></div>
        <div id="result2"></div>

    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3sparql.js"></script>


    <script>
        //var data;
        var str = "";

        function exec() {
            var endpoint = "http://localhost:3030/ds/sparql"
            var sparql = 'prefix schema: <http://schema.org/> prefix owl:   <http://www.w3.org/2002/07/owl#> prefix xsd:   <http://www.w3.org/2001/XMLSchema#>             prefix voaf:  <http://purl.org/vocommons/voaf#>  prefix skos:  <http://www.w3.org/2004/02/skos/core#>            prefix mv:    <http://eccenca.com/mobivoc/> prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#>             prefix vcard: <http://www.w3.org/2001/vcard-rdf/3.0#> prefix gr:    <http://purl.org/goodrelations/v1#>             prefix geo:   <http://www.w3.org/2003/01/geo/wgs84_pos#> prefix s:     <http://schema.org/>             prefix dct:   <http://purl.org/dc/terms/> prefix rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#>             prefix vCard: <http://www.w3.org/2001/vcard-rdf/3.0#>             prefix foaf:  <http://xmlns.com/foaf/spec/#>             SELECT    ?p ?o WHERE {  <http://eccenca.com/mobivoc/Longevity> ?p ?o }'

            //var sparql = d3.select("#sparql").property("value")

            d3sparql.query(endpoint, sparql, render)

        }


        function render(json) {
            var data = json.results.bindings;
            for (var i = 0; i < data.length; i++) {
                var key1 = data[i]['p'].value;
                var key2 = data[i]['o'].value;
                //console.log(key1, key2);

                str += '<p> key1 is' + key1 + '  key2 is ' + key2 + '</p>';
            }
            $("#result2").html(str);

            //console.log(data);

            var config = {
                "charge": -500,
                "distance": 50,
                "width": 1000,
                "height": 750,
                "selector": "#result"
            }
            d3sparql.forcegraph(json, config);
            // debugger;

        }

        ////////////////////////////////////////////////////////
        // get data from d3sparql
        ////////////////////////////////////////////////////////

    </script-->





            <% include footer %>
